USE [master]
GO

CREATE DATABASE [shose_store_sam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shose_store_sam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shose_store_sam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shose_store_sam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\shose_store_sam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shose_store_sam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shose_store_sam]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categori](
	[CategoriId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](100) NULL,
 CONSTRAINT [PK_Categori] PRIMARY KEY CLUSTERED 
(
	[CategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdersId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NULL,
	[DateDelivery] [date] NOT NULL,
	[PickUpPointId] [int] NULL,
	[UserId] [int] NULL,
	[CodePolychenie] [int] NULL,
	[OrdersStatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[OrderDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[OrdersId] [int] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrdersDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PickUpPoint](
	[PickupPointID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK_PickUpPoint] PRIMARY KEY CLUSTERED 
(
	[PickupPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavchik](
	[PostavchikId] [int] IDENTITY(1,1) NOT NULL,
	[PostavchikName] [nchar](100) NULL,
 CONSTRAINT [PK_Postavchik] PRIMARY KEY CLUSTERED 
(
	[PostavchikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](255) NULL,
	[ProductName] [nvarchar](255) NULL,
	[Units] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[PostavchikId] [int] NULL,
	[ProivzoditelId] [int] NULL,
	[CategoriId] [int] NULL,
	[Discount] [float] NULL,
	[StockQuantity] [float] NULL,
	[Description] [nvarchar](255) NULL,
	[Photo] [nvarchar](255) NULL,
	[DiscountPrice]  AS ([Price]-([Price]*[Discount])/(100)),
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proivzoditel](
	[ProivzoditelId] [int] IDENTITY(1,1) NOT NULL,
	[ProivzoditelName] [nchar](100) NULL,
 CONSTRAINT [PK_Proivzoditel] PRIMARY KEY CLUSTERED 
(
	[ProivzoditelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nchar](100) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[UserFam] [nvarchar](255) NULL,
	[UserName] [nvarchar](255) NULL,
	[UserOtch] [nvarchar](255) NULL,
	[Login] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categori] ON 

INSERT [dbo].[Categori] ([CategoriId], [Name]) VALUES (1, N'Женская обувь                                                                                       ')
INSERT [dbo].[Categori] ([CategoriId], [Name]) VALUES (2, N'Мужская обувь                                                                                       ')
SET IDENTITY_INSERT [dbo].[Categori] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrdersId], [Date], [DateDelivery], [PickUpPointId], [UserId], [CodePolychenie], [OrdersStatus]) VALUES (1, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 1, 4, 901, N'Завершен')
INSERT [dbo].[Orders] ([OrdersId], [Date], [DateDelivery], [PickUpPointId], [UserId], [CodePolychenie], [OrdersStatus]) VALUES (2, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 11, 1, 902, N'Завершен')
INSERT [dbo].[Orders] ([OrdersId], [Date], [DateDelivery], [PickUpPointId], [UserId], [CodePolychenie], [OrdersStatus]) VALUES (3, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 2, 2, 903, N'Завершен')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersDetails] ON 

INSERT [dbo].[OrdersDetails] ([OrderDetailsId], [OrdersId], [ProductId], [Quantity]) VALUES (1, 1, 1, 2)
INSERT [dbo].[OrdersDetails] ([OrderDetailsId], [OrdersId], [ProductId], [Quantity]) VALUES (2, 1, 2, 2)
INSERT [dbo].[OrdersDetails] ([OrderDetailsId], [OrdersId], [ProductId], [Quantity]) VALUES (3, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[OrdersDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[PickUpPoint] ON 

INSERT [dbo].[PickUpPoint] ([PickupPointID], [Address]) VALUES (1, N'420151, г. Лесной, ул. Вишневая, 32')
INSERT [dbo].[PickUpPoint] ([PickupPointID], [Address]) VALUES (2, N'125061, г. Лесной, ул. Подгорная, 8')
INSERT [dbo].[PickUpPoint] ([PickupPointID], [Address]) VALUES (3, N'630370, г. Лесной, ул. Шоссейная, 24')
SET IDENTITY_INSERT [dbo].[PickUpPoint] OFF
GO
SET IDENTITY_INSERT [dbo].[Postavchik] ON 

INSERT [dbo].[Postavchik] ([PostavchikId], [PostavchikName]) VALUES (1, N'Kari                                                                                                ')
INSERT [dbo].[Postavchik] ([PostavchikId], [PostavchikName]) VALUES (2, N'Обувь для вас                                                                                       ')
SET IDENTITY_INSERT [dbo].[Postavchik] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Article], [ProductName], [Units], [Price], [PostavchikId], [ProivzoditelId], [CategoriId], [Discount], [StockQuantity], [Description], [Photo]) VALUES (1, N'А112Т4', N'Ботинкg', N'шт.', 4990, 2, 3, 1, 3, 6, N'Женские Ботинки демисезонные kari', N'1.jpg')
INSERT [dbo].[Product] ([ProductId], [Article], [ProductName], [Units], [Price], [PostavchikId], [ProivzoditelId], [CategoriId], [Discount], [StockQuantity], [Description], [Photo]) VALUES (2, N'F635R4', N'Ботинки', N'шт.', 3244, 2, 2, 1, 2, 13, N'Ботинки Marco Tozzi женские демисезонные, размер 39, цвет бежевый', N'2.jpg')
INSERT [dbo].[Product] ([ProductId], [Article], [ProductName], [Units], [Price], [PostavchikId], [ProivzoditelId], [CategoriId], [Discount], [StockQuantity], [Description], [Photo]) VALUES (3, N'H782T5', N'Туфли', N'шт.', 4499, 1, 1, 2, 4, 5, N'Туфли kari мужские классика MYZ21AW-450A, размер 43, цвет: черный', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Proivzoditel] ON 

INSERT [dbo].[Proivzoditel] ([ProivzoditelId], [ProivzoditelName]) VALUES (1, N'Kari                                                                                                ')
INSERT [dbo].[Proivzoditel] ([ProivzoditelId], [ProivzoditelName]) VALUES (2, N'Marco Tozzi                                                                                         ')
INSERT [dbo].[Proivzoditel] ([ProivzoditelId], [ProivzoditelName]) VALUES (3, N'Рос                                                                                                 ')
SET IDENTITY_INSERT [dbo].[Proivzoditel] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Администратор                                                                                       ')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Менеджер                                                                                            ')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (3, N'Авторизированный клиент                                                                             ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [RoleId], [UserFam], [UserName], [UserOtch], [Login], [Password]) VALUES (1, 1, N'Никифорова', N'Весения', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[Users] ([UserId], [RoleId], [UserFam], [UserName], [UserOtch], [Login], [Password]) VALUES (2, 1, N'Сазонов', N'Руслан', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[Users] ([UserId], [RoleId], [UserFam], [UserName], [UserOtch], [Login], [Password]) VALUES (3, 1, N'Одинцов', N' Серафим', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_PickUpPoint] FOREIGN KEY([PickUpPointId])
REFERENCES [dbo].[PickUpPoint] ([PickupPointID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_PickUpPoint]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Users]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Order] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[Orders] ([OrdersId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Order]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrdersDetails_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [FK_OrdersDetails_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Categori] FOREIGN KEY([CategoriId])
REFERENCES [dbo].[Categori] ([CategoriId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Categori]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Postavchik] FOREIGN KEY([PostavchikId])
REFERENCES [dbo].[Postavchik] ([PostavchikId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Postavchik]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Proivzoditel] FOREIGN KEY([ProivzoditelId])
REFERENCES [dbo].[Proivzoditel] ([ProivzoditelId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Proivzoditel]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
